<launch>
    <!-- parameter for planner -->
    <arg name="model" default="p450_3Dlidar_D435i"/>

    <!-- world -->
    <include file="$(find prometheus_gazebo)/launch/Eason_indoor.launch"/>

    <!-- 1号无人机 -->
    <include file="$(find prometheus_gazebo)/launch/sitl_$(arg model).launch"/>

    <include file="$(find uav_control)/launch/uav_control_indoor.launch"/>

    <!-- STATION -->
    <include file="$(find prometheus_station)/launch/prometheus_station.launch"/>

    <!-- 启动FAST-LIO建图 -->
    <include file="$(find fast_lio)/launch/fastlio_velodyne.launch"/>

    <!-- 启动rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/config/loam_livox.rviz" launch-prefix="nice"/>
</launch>
